@model WebApplication1.Models.Sanpham
@{
    ViewData["Title"] = "chitietsanpham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div style="margin-left: 33px;color: black;">
            <h3><span>Điện thoại @Html.DisplayFor(model => model.Tensp)</span></h3>
        </div>
    
        <div style=" width: 810px; margin-left: 50px;    margin-right: 30px;" class="span9">
            <div class="row" style="margin-bottom: 50px;">
                <div style=" width: 290px;" class="span4">

                    <a asp-action="ChiTietSanPham">
                        <img style="width: 235px;" src=" @Html.DisplayFor(model => model.Anhdaidien)" alt="">
                    </a>

                </div>

                <div class="span5" >

                    <h3>
                        @if (Model.Giakhuyenmai != 1)
                        {
                            <strong>Giá khuyến mãi:</strong> <span style="color: red;">@String.Format("{0:N0}", Model.Gia * Model.Giakhuyenmai) VNĐ</span><br>
                            <strong>Giá:</strong> <strike style="color: red;">@String.Format("{0:N0}", Model.Gia) VNĐ</strike>
                        }
                        else
                        {
                            <strong>Giá :</strong> <span style="color: red;">@String.Format("{0:N0}", Model.Gia) VNĐ</span><br>

                        }
                    </h3>
                    <address>
                        <strong>Bộ nhớ:</strong> <span> @Html.DisplayFor(model => model.Ram)</span><br>
                        <strong>Tình trạng:</strong> <span>Còn hàng</span><br>
                        <strong>Lượt xem:</strong> <span>21932</span><br>
                        <strong>Đã bán:</strong> <span>2154</span><br>
                    </address>

                </div>
                <div class="span5">
                    <div class="span5">
                        <button style="width: 200px; height: 40px;  background: #ff9c00;" class="btn btn-inverse" type="button"><a style="color: #fbfcfd;" asp-action="Buy" asp-route-id="@Model.Masp">MUA NGAY</a></button>
                    </div>

                </div>
            </div>
            <div class="row">
                <div style="width: 800px;" class="span9">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#home">Tông tin sản phẩm</a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <table class="table table-striped shop_attributes">
                                <tbody>
                                    <tr class="">
                                        <th>CPU</th>
                                        <td>@Model.Cpu</td>
                                    </tr>
                                    <tr class="alt">
                                        <th>RAM</th>
                                        <td>@Model.Ram</td>
                                    </tr>
                                    <tr class="">
                                        <th>PIN</th>
                                        <td>@Model.Pin</td>
                                    </tr>
                                    <tr class="alt">
                                        <th>CAMERA TRƯỚC</th>
                                        <td>@Model.Cameratruoc</td>
                                    </tr>
                                    <tr class="alt">
                                        <th>CAMERA SAU</th>
                                        <td>@Model.Camerasau</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="span9">
                    <br>
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><strong>Sản phẩm</strong> khác</span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel-1" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails listing-products">
                                    @await Component.InvokeAsync("SanPham");
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="span3 col">
            <div class="block">
                <br />
                <ul class="nav nav-list below">
                    <li class="nav-header">Nhãn hiệu</li>
                    @await Component.InvokeAsync("Menu");
                </ul>
            </div>
            <div class="block">
                <h4 class="title">
                    <span class="pull-left"><span class="text">Ngẫu nhiên</span></span>
                    <span class="pull-right">
                        <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                    </span>
                </h4>
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="active item">
                            <ul class="thumbnails listing-products">
                                <li class="span3">
                                    <div class="product-box">
                                        <span class="sale_tag"></span>
                                        <a href="product_detail.html"><img alt="" src="https://cdn.tgdd.vn/Products/Images/42/210654/iphone-11-pro-max-512gb-gold-400x400.jpg"></a><br />
                                        <a href="product_detail.html" class="title">Điện thoại Samsung Galaxy S10+ (512GB)</a><br />
                                        <!-- <a href="#" class="category">7130U/4GB/128GB/Win10</a> -->
                                        <p class="price">22.990.000₫</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <ul class="thumbnails listing-products">
                                <li class="span3">
                                    <div class="product-box">
                                        <a href="product_detail.html"><img alt="" src="https://cdn.tgdd.vn/Products/Images/42/219314/samsung-galaxy-a21s-055620-045659-400x400.jpg"></a><br />
                                        <a href="product_detail.html" class="title">Điện thoại Samsung Galaxy S10+ (512GB)</a><br />
                                        <!-- <a href="#" class="category">6006U/4GB/1TB/Win10</a> -->
                                        <p class="price">22.990.000₫</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                <h4 class="title"><strong>Bán</strong> chạy</h4>
                <ul class="small-product">
                    <li>
                        <a href="#" title="Praesent tempor sem sodales">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/210644/iphone-11-128gb-green-600x600.jpg" alt="Praesent tempor sem sodales">
                        </a>
                        <a href="#">Điện thoại iPhone Xs Max 256GB</a>
                    </li>
                    <li>
                        <a href="#" title="Luctus quam ultrices rutrum">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/200533/iphone-11-pro-max-green-400x400.jpg" alt="Luctus quam ultrices rutrum">
                        </a>
                        <a href="#">Điện thoại Samsung Galaxy S10+ (512GB)</a>
                    </li>
                    <li>
                        <a href="#" title="Fusce id molestie massa">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/220654/oppo-a92-white-600x600-400x400.jpg" alt="Fusce id molestie massa">
                        </a>
                        <a href="#">Điện thoại iPhone Xs Max 256GB</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

