@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "ThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var Idkh = Context.Session.GetInt32("Id");
    var Email = Context.Session.GetString("Email");
    var sdt = Context.Session.GetString("sdt");
    var ten = Context.Session.GetString("ten");
    var diachi = Context.Session.GetString("diachi");
    
}

<h4><span>Thanh Toán</span></h4>

<section class="main-content">
    <div class="row">
        <div class="span12">
            <div class="accordion" id="accordion2">
                <form  asp-controller="Home" asp-action="HoaDon" asp-route-id="@Idkh">
              
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Tài khoản &amp; Chi tiết hóa đơn</a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <h4>Thông tin cá nhân</h4>

                                        <div class="control-group">
                                            <label class="control-label">Họ và tên</label>
                                            <div class="controls">
                                                <input type="text" placeholder="" class="input-xlarge" name="ten" value="@ten">
                                            </div>
                                        </div>
                                      

                                        <div class="control-group">
                                            <label class="control-label">Địa chỉ Email</label>
                                            <div class="controls">
                                                <input type="text" placeholder="" class="input-xlarge" name="email" value="@Email">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Điện thoại</label>
                                            <div class="controls">
                                                <input type="text" placeholder="" class="input-xlarge" name="sdt" value="@sdt">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <h4>Địa chỉ của bạn</h4>
                                        <div class="control-group">
                                            <label class="control-label">Địa chỉ</label>
                                            <div class="controls">
                                                <input type="text" placeholder="Địa chỉ chi tiết" class="input-xlarge" name="diachi" value="@diachi">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Xác nhận đơn hàng</a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="row-fluid">
                                    <div class="control-group">
                                     
                                    </div>
                                    <input type="submit" name="" class="btn btn-primary pull-right" value="Xác nhận đơn hàng">

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
