@model IEnumerable<WebApplication1.Models.Sanpham>

@{
    ViewData["Title"] = "NhaSanXuatAD";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Masp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tensp)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Mota)
                </th>*@

                <th>
                    @Html.DisplayNameFor(model => model.Gia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Giakhuyenmai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Anhdaidien)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.HangNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Masp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tensp)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Mota)
                </td>*@

                <td>
                  
                    @String.Format("{0:N0}", item.Gia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Giakhuyenmai)
                </td>
                <td>
                    <img style="width: 100px;height: 120px;" src="@item.Anhdaidien" alt="">
                  
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.HangNavigation.Tenhang)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Masp">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Masp">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Masp">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
